Username: {{#if username}}{{username}}{{else}}N/A{{/if}} <br />

<form name="login" id="login" action="/login" method="post">
	<input type="text" name="username" />
	<input type="password" name="password" />
	<input type="submit" name="submit" value="Submit" />
</form>
