
<form name="register" id="register" action="/register" method="post">
	<h3>User Registration</h3>
	<label for="firstname">First Name</label>
	<input type="text" name="firstname" /> <br />
	<label for="lastname">Last Name</label>
	<input type="text" name="lastname" /> <br />
	<label for="username">Username</label>
	<input type="text" name="username" /> <br />
	<label for="password">Password</label>
	<input type="password" name="password" /> <br />
	<input type="submit" name="submit" value="Submit" />
</form>
